#timeline-section {
    background-color: black;
    --each-height: 50vh;
    --total-height: calc(var(--each-height) * 4 + 60vh);
}

#timeline-section #content {
    background-color: #000000aa;
    color: white;
    margin-left: 100px;
    border-left: 5px solid var(--accent);
    padding: 30px 10px 30px 60px;

    max-width: 700px;
}

#timeline-section #content div {
    height: var(--each-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#timeline-section #content div h2 {
    font-size: 35px;
}

#timeline-section #content div p {
    text-align: justify;
    font-size: 22px;
    padding-right: 20px;
}

#timeline-section #landscape {
    display: flex;
    justify-content: center;
}

#timeline-section #landscape img {
    flex-shrink: 0;
    width: 1000px;
    display: inline-block;
}

#timeline-section #landscape #bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 66px;
    background-color: white;
}

#timeline-section #landscape h2 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 0;
    color: black;
    font-size: 38px;
    text-align: center;
}




#timeline-section #content .timeline-stage::before {
    padding: 10px;
    width: 80px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-bottom: 5px solid var(--accent);

    position: absolute;
    left: -70px;
    translate: -50% -120%;

    font-weight: bolder;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        translate: -20% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}




@media (max-width: 500px) {
    #timeline-section {
        --each-height: 40vh;
    }

    #timeline-section #content {
        margin-left: 45px;
        padding-left: 50px;
    }

    #timeline-section #content .timeline-stage::before {
        font-size: 14px;
        left: -60px;
    }

    #timeline-section #content div h2 {
        font-size: 30px;
    }

    #timeline-section #content div p {
        font-size: 18px;
    }
}




#timeline-section #content .stage1::before {
    content: 'Aug - Sep 2022';
}

#timeline-section #content .stage2::before {
    content: 'Oct 2022';
}

#timeline-section #content .stage3::before {
    content: 'Nov - Dec 2022';
}

#timeline-section #content .stage4::before {
    content: 'Jan - Apr 2023';
}