#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 30px;
    background-color: var(--accent-light);
}

#contact #left {
    max-width: 700px;
    width: 100%;
    min-width: 400px;
}

#contact #left h1{
    font-size: 35px;
    color: var(--accent-dark);
}

#contact #left h2{
    font-size: 25px;
    max-width: 470px;
    font-weight: 600;
}

#contact #right {
    max-width: 400px;
}

#contact img {
    max-width: 100%;
    zoom: 200%;
}

#contact form {
    background-color: var(--bg);
    padding: 40px;
    margin: 50px 0px;
    border-radius: 10px;
}

#contact label {
    color: var(--color);
}

#contact input, #contact textarea {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
}

#contact textarea {
    height: 130px;
}

#contact button {
    width: 100%;
    border-radius: 10px;
    max-width: initial;
}

@media screen and (max-width: 850px) {
    #contact {
        flex-direction: column-reverse;
    }
    
    #contact #right {
        max-width: 300px;
    }
    
    #contact #left {
        max-width: initial;
        min-width: initial;
        padding: 50px 0px 0px 0px;
    }

    #contact form {
        padding: 20px;
    }

    #contact input {
        margin-bottom: 20px;
    }
    
    #contact #left .button {
        margin: 0px auto;
    }

    #contact #left h1{
        font-size: 45px;
    }
    
    #contact #left h2{
        font-size: 28px;
    }
    
    #contact img {
        max-width: 100%;
    }
}