#events-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items horizontally */
    background-color: var(--bg);
    padding: 100px 30px;
    flex-wrap: wrap;
    padding-left: 100px;
    overflow: hidden; /* Hide horizontal overflow */

    width: 100%;
  overflow-x: hidden;
}

#events-container h1{
    font-size: 40px;
    color: #a8c4a8;
}

#events {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    width: max-content; /* Allow the container to be as wide as its contents */
    overflow-x: hidden; /* Hide the scrollbar */
    white-space: nowrap; /* Prevent wrapping of children */
}

.events-scroll {
    display: flex;
    flex-wrap: nowrap;
    animation: scrollAnimation 20s linear infinite; 
    /* overflow-x: hidden; */

    animation-name: infiniteScroll;
}
.events-scroll:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.event-container {
    flex: 0 0 auto; /* Allow natural width for each event container */
    margin-right: 5px; /* Adjust spacing between events */
    scroll-snap-align: start; /* Align each event container to the start */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

img {
    /* max-width: 50%; */
    display: block;
    margin-bottom: 10px; /* Adjust spacing between image and title */
    width: 200px;
    height: 200px;
}

h1, h2, p {
    margin: 10px;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

@media screen and (max-width: 850px) {
    #events {
        animation: none; /* Disable animation on small screens if needed */
        flex-direction: column-reverse;
    }
    
    #events .event-container {
        max-width: 450px;
    }

    #events .event-container img{
        max-width: 90%;
    }
    
    #events .event-container {
        max-width: initial;
        padding: 50px 20px 0px;
    }
    
    #events .event-container .button {
        margin: 0px auto;
    }
}