#events-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items horizontally */
    background-color: var(--bg);
    padding: 100px 30px;
    flex-wrap: wrap;
    padding-left: 100px;
    width: 100%;
}

#events-container h1{
    font-size: 40px;
    color: #a8c4a8;
}

#events {
    display: flex;
    gap: 50px;
    padding: 20px;
    overflow-x: hidden;
}

.event-wrapper {
    display: flex;
    align-items: stretch;
    gap: 50px;
    cursor: pointer;
    animation: infiniteScroll 20s linear infinite; 
}

.events-scroll:hover .event-wrapper {
    animation-play-state: paused;
}

.event-container {
    width: 300px;
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px 1px #ffffffaa;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.event-container:hover {
    box-shadow: 0px 0px 5px 1px #d6e321aa;
}

.event-container h2 {
    font-size: 23px;
    margin: 20px 0px 10px 0px;
}

.event-container p {
    font-size: 20px;
    margin-bottom: 80px;
    text-align: center;
}

.event-container .button {
    position: absolute;
    bottom: 20px;
}

.event-container img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-100%)}
}

@media screen and (max-width: 850px) {    
    .event-wrapper {
        animation: none; /* Disable animation on small screens */
        margin-bottom: 20px; /* Add some spacing between event sets */
        display: none;
        flex-wrap: wrap;
    }

    .event-wrapper:nth-child(1) {
        display: flex;
    }

    #events-container {
        padding-left: 20px; /* Adjust the left padding for better mobile layout */
    }

    #events .event-container {
        width: initial;
        padding: 50px 20px 0px;
    }
    
    #events .event-container img {
        max-width: 90%;
    }
    
    #events .event-container .button {
        margin: 0px auto;
    }
}
