#events-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: left; /* Center items horizontally */
    background-color: var(--bg);
    padding: 100px 30px;
    flex-wrap: wrap;
    padding-left: 100px;
}

#events-container h1{
    font-size: 40px;
    color: #a8c4a8;
}
#events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center events horizontally */
}

.event-container {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

img {
    max-width: 80%;
    display: block;
    margin-bottom: 10px; /* Adjust spacing between image and title */
}

h1, h2, p {
    margin: 10px;
}

@media screen and (max-width: 850px) {
    #events {
        flex-direction: column-reverse;
    }
    
    #events .event-container {
        max-width: 450px;
    }

    #events .event-container img{
        max-width: 90%;
    }
    
    #events .event-container {
        max-width: initial;
        padding: 50px 20px 0px;
    }
    
    #events .event-container .button {
        margin: 0px auto;
    }
}